* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  text-align: center;
}

.wrapper {
  width: 100%;
  margin: 30px 0;
  padding: 15px;
}

h3 {
  display: block;
}

ol {
  margin: 20px 0;
}

ol.content-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

form.form-wrapper {
  width: 350px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  margin: 12px 0;
  padding: 3px;
  width: 100%;
  max-width: 300px;
  max-width: 100%;
  font-size: 0.8rem;
  color: gray;
}

input:focus {
  outline: none;
}

.card-grid {
  display: flex;
  margin-top: 20px;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;
}

.card p {
  padding: 5px;
}

.card img {
  max-height: 170px;
}
